# IDE
**/.vs
**/.vscode

# PYTHON
**/.venv
**/__pycache__

# PROTOBUF
/proto_gen

# SPECIFIC
/build
/third-party

# TOOLS

# generate_emu_config
/generate_emu_config_old/.py*/
/generate_emu_config_old/.env*/
/generate_emu_config_old/bin

/generate_emu_config_old/backup/
/generate_emu_config_old/login_temp/
/generate_emu_config_old/output/
/generate_emu_config_old/**/my_login.txt
/generate_emu_config_old/top_owners_ids.txt
/generate_emu_config_old/refresh_tokens.json

# migrate_gse
/migrate_gse/.py*/
/migrate_gse/.env*/
/migrate_gse/bin
